.container {
  max-width: 37rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.flight_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem;
  background-color: #0087c9;
  color: #fff;
}
.price_block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.price {
  font-size: 1.4rem;
}
.desc {
  font-size: 0.7rem;
}

.select {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffb168;
  color: #fff;
  width: 100%;
  padding: 0.6rem;
  cursor: pointer;
}
